In [1]:
print('voila I am %s'%'fat')

voila I am fat

In [2]:
print('voila i am %s and %s'%'big','fat')

TypeError: not enough arguments for format string

In [4]:
print('voila i am %r and %r'%('big','fat'))

voila i am 'big' and 'fat'

In [20]:
print('{0:-<8} {2:.^9} {1:>9}'.format('Fruit', 'Quantity','jaihanuman'))
print('{0:+<8} {2:,^9} {1:>9}'.format('Apples', 3.,'no'))
print('{0:=<8} {2:-^9} {1:>9}'.format('Oranges', 10, 'yes'))

Fruit--- jaihanuman  Quantity
Apples++ ,,,no,,,,       3.0
Oranges= ---yes---        10

In [52]:
value=27.66456

In [53]:
print(f'he said he is {value} years old')

he said he is 27.66456 years old

In [58]:
print(f'he said that he is {value:6.4f} years old')

he said that he is 27.6646 years old

In [55]:
print('he said that he is{v:1.3f} years old'.format(v=value))

he said that he is27.665 years old

In [59]:
mylist=[1,2,3,4,'yes']

In [60]:
mylist

[1, 2, 3, 4, 'yes']

In [61]:
mylist[1]='no'

In [62]:
mylist

[1, 'no', 3, 4, 'yes']

In [65]:
mylist.append('6')

In [66]:
mylist

[1, 'no', 3, 4, 'yes', 6, '6']

In [67]:
num=27.88585

In [72]:
print(f'i am {num:1.4f} years old')

i am 27.8859 years old

In [73]:
mylist.pop()

'6'

In [74]:
mylist

[1, 'no', 3, 4, 'yes', 6]

In [76]:
popped=mylist.pop()

In [77]:
mylist

[1, 'no', 3, 4, 'yes']

In [78]:
mylist.append(popped)

In [79]:
mylist

[1, 'no', 3, 4, 'yes', 6]

In [80]:
mylist.pop(0)

1

In [81]:
mylist

['no', 3, 4, 'yes', 6]

In [82]:
mylist.pop(2)

4

In [83]:
mylist

['no', 3, 'yes', 6]

In [84]:
len(mylist)

4

In [85]:
type(mylist)

list

In [86]:
a=a

NameError: name 'a' is not defined

In [87]:
a=b

NameError: name 'b' is not defined

In [88]:
a='b'

In [89]:
type(a)

str

In [90]:
mylist=[1,6,4,8,3]

In [94]:
mylist2=['a','c','d','e','f','b']

In [95]:
mylist.sort()

In [96]:
mylist2.sort()

In [97]:
mylist

[1, 3, 4, 6, 8]

In [98]:
mylist2

['a', 'b', 'c', 'd', 'e', 'f']

In [99]:
mylist2.reverse()

In [100]:
mylsit2

NameError: name 'mylsit2' is not defined

In [101]:
mylist2

['f', 'e', 'd', 'c', 'b', 'a']

In [102]:
mylist[::-1]

[8, 6, 4, 3, 1]

In [103]:
mylist

[1, 3, 4, 6, 8]

In [104]:
mylist.reverse()

In [105]:
mylist

[8, 6, 4, 3, 1]

In [106]:
mylist.reverse()

In [107]:
mylist

[1, 3, 4, 6, 8]

In [109]:
mylist.append(None)

In [111]:
mylist

[1, 3, 4, 6, 8, None]

In [113]:
mylist[n+1]=mylist[n]
where n=1
n++

SyntaxError: invalid syntax (<ipython-input-113-32f7621ca2a6>, line 2)

In [114]:
mylist

[1, 3, 4, 6, 8, None]

In [119]:
print((mylist)*2)

[1, 3, 4, 6, 8, None, 1, 3, 4, 6, 8, None]

In [122]:
age={'sid':18,'karthika':9,'nisha':43}

In [124]:
age['karthika']

9

In [125]:
age['nisha']

43

In [126]:
age[43]

KeyError: 43

In [131]:
d={'key1':['a','b','c']}

In [133]:
d['key1'][2].upper()

'C'

In [134]:
d

{'key1': ['a', 'b', 'c']}

In [136]:
d['key2']='jaihanuman'

In [137]:
d

{'key1': ['a', 'b', 'c'], 'key2': 'jaihanuman'}

In [139]:
d['key2'].upper()

'JAIHANUMAN'

In [140]:
d.keys()

dict_keys(['key1', 'key2'])

In [141]:
d.values()

dict_values([['a', 'b', 'c'], 'jaihanuman'])

In [142]:
age.keys()

dict_keys(['sid', 'karthika', 'nisha'])

In [143]:
age.values()

dict_values([18, 9, 43])

In [145]:
[age.values()].sort()

In [146]:
age.values()

dict_values([18, 9, 43])

In [147]:
d.items

In [148]:
d.items
()

()

In [149]:
d.items()

dict_items([('key1', ['a', 'b', 'c']), ('key2', 'jaihanuman')])

In [150]:
d

{'key1': ['a', 'b', 'c'], 'key2': 'jaihanuman'}

In [157]:
d['key1'][0:]

['a', 'b', 'c']

In [158]:
a=7

In [159]:
a-=7

In [160]:
a

0

In [161]:
a+=132

In [162]:
1*=8

SyntaxError: can't assign to literal (<ipython-input-162-91a3fc781e6f>, line 1)

In [163]:
a*=8

In [164]:
a

1056

In [166]:
t=({'k1':[1,2,3]}, 5)

In [167]:
t

({'k1': [1, 2, 3]}, 5)

In [168]:
t[0]['k1'][0]

1

In [169]:
mylist1=[1,2,3]

In [ ]:
insert